\#fdisk_screen.c#
.#fdisk_screen.c
*~
*.o
*.map
*.list
*.lbl
*.M65
ascii.h
ascii8x8.bin
asciih
fdisk*.s
freeze_*.s
frozen_*.s
freezer.s
freezer_common.s
audiomix.s
makedisk.s
monitor.s
pngprepare
romload.s
sprited.s
version.s
megainfo.s
tools/pngprepare
tools/thumbnail-surround-formatter
